@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@600&family=Kadwa&family=Kreon:wght@700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #210357;
  --bg-color-2: #310c75;
  --sh-color: #321d57;
  --dom-color: #5109d7;
  --subdom-color: #3d07a3;
  --light-color: #734Bdd;
  --light-yellow: #ffe69c;
  --green-color: #1ed63e;
  --accent: #f5c025;
  --accent-warm: #f57c25;
}

body {
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* *** Font Stuff *** */

body {
  color: var(--light-yellow);
  text-shadow: 3px 3px var(--sh-color);
  font-family: 'Kreon', serif;
  font-size: 1.1rem;
}

h1, h2 {
  font-family: 'Baloo Paaji 2', cursive;
  /* line-height: 1; */
}

h1{
  font-size: 72px;
  color: var(--accent)
  /* gradient text, messes up text shadows
  background: -webkit-linear-gradient(var(--accent),var(--accent),var(--accent),var(--accent-warm),#fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  */
  
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-family: 'Kadwa', serif;
}


.text-input {
    font-family: 'Kreon', serif;
    color:var(--dom-color);
    font-size: 1.1rem;
}

header {
  background: linear-gradient(180deg,#3D07A3 0%,#4708BE 75%,var(--dom-color)100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: var(--light-color) 4px solid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
}

main .login-frame {
  margin-top:7vh;
  width: 95vw;
  max-width: 550px;
  background: var(--subdom-color);
  border: 3px solid var(--light-color);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 11px 11px 22px 5px rgba(17, 17, 17, 0.35);
}

main .login-header {
  text-align: center;
  margin: 1rem 0;
}

main .login-main {
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "name-label name-label"
    "name-row name-row"
    "pass-label pass-label"
    "pass-row pass-row"
    "signup-btn login-btn";
}

.text-input {
    padding: 1em .5em ;
    height:1.75rem;
    background: var(--light-yellow);
    border:none;
    border-radius:5px;
    box-shadow: 3px 3px var(--sh-color);
    caret-color: var(--dom-color);
}

.text-input:focus{
 outline: solid 2px var(--green-color);
 }

#name-label {
  grid-area: name-label;
}

#pass-label {
  grid-area: pass-label;
}

#name-input {
  width:100%;
  justify-self: start;
  grid-area: name-row;
}

#pass-input {
  width:100%;
  justify-self: start;
  grid-area: pass-row;
  margin-bottom:1.75rem;
}
.signup-btn {
  justify-self: start;
  grid-area: signup-btn;
}
.login-btn {
  justify-self: center;
  
  grid-area: login-btn;
}

/* *** Button Styling *** */

.btn-1{
  background-color: var(--green-color);
  color: var(--bg-color);
}

.btn-2{
  background-color: var(--light-color);
  color: var(--light-yellow);

}

.btn:hover {
  background-color: var(--accent);
  color: var(--bg-color);
}

.btn:active {
  background-color: var(--accent-warm);
  color: var(--bg-color);
}

.btn {
  width: 14vw;
  min-width: 150px;
  max-width: 50%;
  align-items: center;
  appearance: button;
  border-radius: 8px;
  border-style: none;
  box-shadow: var(--sh-color) 2px 2px 2px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Baloo Paaji 2', serif;
  font-size: 110%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


