*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: helvetica, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-bottom: #006ae8 3px solid;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.main-frame {
  width: 95vw;
  max-width: 550px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main-frame > h2,
.main-frame > h3 {
  flex-basis: 100%;
  text-align: center;
}
.main-frame > h3 {
  margin-bottom: 3rem;
  font-size: 22px;
}

.main-frame > button {
  height: 40px;
  width: 110px;
  justify-content: center;
  margin: 1rem;
}

main .login-frame {
  width: 95vw;

  max-width: 550px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
}

main .login-header {
  text-align: center;
  margin: 1rem 0;
}

main .login-main {
  display: grid;
  row-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "name-label name-label"
    "name-row name-row"
    "pass-label pass-label"
    "pass-row pass-row"
    "signup-btn login-btn";
}

.text-input {
  padding: 0.5em 0.25em;
  height: 1.75rem;
}

#username {
  grid-area: name-label;
}

#password {
  grid-area: pass-label;
}

#name-input {
  justify-self: start;
  width: 100%;
  grid-area: name-row;
}

#pass-input {
  justify-self: start;
  width: 100%;
  grid-area: pass-row;
  margin-bottom: 1rem;
}
#login-back {
  justify-self: start;
  grid-area: signup-btn;
}
.login-btn {
  justify-self: end;
  grid-area: login-btn;
}

.signup-frame {
  width: 95vw;
  max-width: 550px;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2rem;
}

.signup-header {
  text-align: center;
  margin: 1rem 0;
}

.signup-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.label {
  flex-basis: 40%;
}
.text-input {
  flex-basis: 50%;
}

.signup-main > input {
  margin: 5px;
}
.signup-main > label {
  margin: 5px;
}

/* *** Button Styling *** */

.btn {
  align-items: center;
  appearance: button;
  background-color: #0276ff;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "RM Neue", sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 10px 21px;
  text-align: center;
  text-transform: none;
  transition: color 0.13s ease-in-out, background 0.13s ease-in-out,
    opacity 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  background-color: #006ae8;
}

.btn:hover {
  background-color: #1c84ff;
}

#feed {
  padding: 8px;
}

.habit-card {
  border: solid 1px black;
  padding: 3px;
  display: flex;
}

#instance-modal {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: solid 1px #006ae8;
  z-index: 10;
  width: 300px;
  height: 400px;
  padding: 20px;
  border-radius: 10px;
}

.modal {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  height: 100%;
}

.completeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding: 5px;
}

.frequencyContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 10px;
  padding: 5px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  align-items: flex-end;
  margin-bottom: 10px;
  padding: 5px;
}
.completeText {
  align-self: flex-start;
  margin-right: auto;
}
.modal > h2 {
  text-align: center;
}
.modal > p {
  padding: 5px;
}
.frequencyText {
  flex: 1;
}
.habit-checkbox {
  width: 20px;
  height: 20px;
  margin-right: 40px;
}
.frequency-button {
  width: 100px;
  height: 40px;
}

.button-close {
  width: 80px;
  height: 40px;
}

.button-delete {
  width: 85px;
  height: 40px;
  background-color: rgb(241, 77, 77);
}

#modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: black;
  opacity: 0.5;
}
